@import "~bootstrap";

/*************Page Users***********/
h1.display-4 a {text-decoration: none; color: white;}
h1.display-4 a:hover {color: #00324a}
.demo{ font-family: 'Poppins', sans-serif; }
.panel{
    border-radius: 0;
    border: none;
}
.panel .panel-heading{
    background: #00324a;
    padding: 20px 40px;
    border-radius: 5px;
    margin: 0 0;
}
.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
}
.panel .panel-heading .title span{ font-weight: 600; }
.panel .panel-heading {
    color: #fff;
    padding: 6px 12px 6px 30px;
    margin: 0 -3px;
    border-radius: 0;
}
.panel .panel-heading { border-radius: 5px; }
.panel .panel-body .table{ margin: 0; }
.panel .panel-body .table tr td{ border-color: #e7e7e7; }
.panel .panel-body .table thead tr.active th{
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    padding: 12px;
    border-top: 1px solid #e7e7e7;
    border-bottom-color: #e7e7e7;
}
.panel .panel-body .table tbody tr:hover{ background-color: rgba(0,0,0,0.03); }
.panel .panel-body .table tbody tr td{
    color: #555;
    font-size: 16px;
    padding: 12px 12px;
    vertical-align: middle;
}
.panel .panel-body .table tbody .btn{
    color: #fff;
    background: #dc3545;
    font-size: 13px;
    padding: 5px 8px;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;
}
.panel .panel-body .table tbody .btn:hover{ background: #2e9c81; }
.panel .panel-footer{
    color: #999;
    background-color: transparent;
    padding: 15px;
    border: none;
    border-top: 1px solid #e7e7e7;
}
.panel .panel-footer .col{ line-height: 35px; }
.pagination{ margin: 0; }
.pagination li a{
    color: #00324a;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    padding: 0;
    display: block;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a{
    color: #fff;
    background-color: #00324a;
    border-color: #00324a;
}
@media only screen and (max-width:767px){
    .panel .panel-heading{ padding: 20px; }
    .panel .panel-heading .title{
        margin: 0 0 10px;
        text-align: center;
    }
    .inline-form{ text-align: center; }
}